// Fonts embedded
@font-face {
  font-family: 'SFProDisplay';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/SFProDisplay/SFProDisplay-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'SFProDisplay';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/SFProDisplay/SFProDisplay-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'SFProDisplay';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/SFProDisplay/SFProDisplay-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'SFProDisplay';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/SFProDisplay/SFProDisplay-Semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'SFProDisplay';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/SFProDisplay/SFProDisplay-Bold.woff2') format('woff2');
}

// Style
:root {
  --font-family: 'SFProDisplay', serif;
  --font-size: 1.5rem;

  --color-primary: #000000;
  --color-hover: #ff4f41;
  --color-white: #ffffff;
  --color-title: #ff4f41;

  --background-primary: #ff4f41;
  --background-hover: #000000;

  --border-color: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-primary);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 1.6;
  font-weight: 400;
  word-break: break-word;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 12px;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  @include transition();

  &:hover {
    color: var(--color-hover);
  }
}

p {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

figure {
  margin: 0;
}

img {
  display: inherit;
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

blockquote {
  border-left: 1px solid var(--background-primary);
  padding-left: 30px;
}

pre {
  white-space: pre-wrap;
  margin-bottom: 30px;
}

.template-default {
  min-height: 100vh;
  @include flexbox();
  @include flex-direction(column);
}

.sticky-footer {
  @include flex(1 0 auto);
}

.container-wrap {
  padding: 50px 0;
}

.title-default {
  color: var(--color-title);
}

.element-overlay {
  position: relative;

  &:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
  }

  > div {
    position: relative;
  }
}

.content-list {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      padding-left: 12px;

      &::before {
        position: absolute;
        content: "";
        width: 6px;
        height: 6px;
        top: 9px;
        left: 0;
        border-radius: 50%;
        background-color: var(--color-primary);
      }
    }
  }
}