@import "./src/assets/scss/mixin";

// Fonts embedded
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root {
  --font-family: 'Noto Serif', serif;

  --color-primary: #000000;
  --color-hover: #ff5555;

  --background-primary: #333333;
  --background-hover: #ff5555;

  --border-color: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-primary);
  font-family: var(--font-family);
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 400;
  word-break: break-word;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 12px;
  font-weight: 700;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  @include transition();

  &:hover {
    color: var(--color-hover);
  }
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

blockquote {
  border-left: 1px solid var(--background-primary);
  padding-left: 30px;
}

pre {
  white-space: pre-wrap;
  margin-bottom: 30px;
}

.warp {
  min-height: 100vh;
  @include flexbox();
  @include flex-direction(column);
}

.sticky-footer {
  @include flex(1 0 auto);
}

.page-default {
  padding: 50px 0;
}