@import "./src/assets/scss/mixin";

// Main header
.main-header {
  line-height: 2.5;
  border-bottom: 1px solid var(--border-color);

  .grid {
    display: grid;
    grid-gap: 12px 24px;
    grid-template-columns: 1fr auto;

    &__item {
      display: grid;
      grid-gap: 12px;
      grid-template-columns: repeat(3, max-content);

      .contact-title {
        font-size: 1.6rem;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;

        li {
          font-weight: 700;

          a {
            color: var(--color-hover);
            text-decoration: none;

            &:hover {
              color: var(--color-primary);
            }
          }

          &:not(:last-child) {
            &:after {
              position: relative;
              top: -2px;
              content: "/";
              margin-right: 5px;
              margin-left: 5px;
              color: var(--color-hover);
            }
          }
        }
      }

      .fanpage {
        .text {
          margin-right: 12px;
        }

        .link {
          padding: 0 12px;
          color: #fff;
          line-height: 1.8;
          display: inline-block;
          border-radius: 3px;
          background: linear-gradient(180deg,#01acff 0%,#0170ff 100%);

          i {
            margin-right: 8px;
          }
        }
      }
    }
  }

  .MuiAlert-root {
    color: var(--color-white);
    background-color: var(--background-primary);
  }
}

// Menu
.main-nav {
  box-shadow: 0 3px 3px -3px rgb(0, 0, 0, 0.3);

  &__warp {
    @include grid('max-content 1fr auto', 12px, 24px);
  }

  .logo {
    @include flexbox();
    @include align-items(center);

    img {
      padding: 12px 0;
    }
  }

  .main-menu {
    padding-left: 70px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  .menu-primary {
    height: 100%;
    grid-column-gap: 24px;
    @include flexbox();

    .menu-item {
      position: relative;
      @include flexbox();
      @include align-items(center);

      a {
        font-size: 1.6rem;
        @include flex(1);

        &:hover,
        &.active {
          color: var(--color-hover);
        }
      }

      .icon-sub {
        @include transition();
      }

      .sub-menu {
        min-width: 160px;
        border-top: 1px solid var(--background-primary);
        background-color: #eeeeee;
        position: absolute;
        top: 120%;
        left: 0;
        visibility: hidden;
        opacity: 0;
        @include transition();

        .menu-item {
          padding: 10px 8px;

          .sub-menu {
            top: -1px;
            left: 90%;
          }

          &:hover {
            .icon-sub {
              @include transform(rotate(-90deg));
            }

            .sub-menu {
              left: 100%;
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }

      &:hover {
        > .sub-menu {
          top: 100%;
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .menu-item-has-children {
      a {
        padding-right: 6px;
      }
    }
  }

  .btn-support {
    @include flexbox();
    @include align-items(center);

    img {
      margin-right: 9px;
    }
  }
}