.social-network {
  .item {
    font-size: 1.6rem;
    color: var(--color-primary);

    &:not(:last-child) {
      margin-right: 12px;
    }

    &:hover {
      color: var(--color-hover);
    }
  }
}