.element-about {
  padding: 32px 36px;
  display: grid;
  grid-gap: 36px;
  grid-template-columns: 370px 1fr;
  border: 1px solid var(--background-primary);
  border-radius: 5px;

  .contact {
    position: relative;
    margin-top: 30px;
    padding-top: 30px;

    &:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100px;
      height: 1px;
      background-color: #d8d8d8;
    }

    p {
      &:not(:last-child) {
        margin-bottom: 6px;
      }

      a {
        color: var(--color-hover);
        font-weight: 700;
        font-size: 1.6rem;
      }
    }
  }
}