.register-course-modal {
  .btn-show {
    padding: 12px 16px;
    font-size: 1.8rem;

    i {
      margin-left: 8px;
    }
  }

  .note-warp {
    .label {
      color: var(--color-hover);
    }
  }
}